<mat-grid-list cols="2" rowHeight="2:1"  gutterSize="5px">
    <mat-grid-tile>
      <ng-container *ngTemplateOutlet="menu; context: patients"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container *ngTemplateOutlet="menu; context: diagnoses"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container *ngTemplateOutlet="menu; context: doctors"></ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <ng-container *ngTemplateOutlet="menu; context: threatments"></ng-container>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #menu let-name>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar><i class="material-icons">
          face
        </i></div>
        <mat-card-title>{{name}}</mat-card-title>
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="redirect()">LIKE</button>
        <button mat-raised-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
  